
@appPadding       : 0 10px;
@appPaddingTablet : 0 0 0 140px;

*{
	.box-sizing(border-box);
	font-family: @fontRoboto;
}

html,body {
	margin: 0;
	padding: 0;
}

body {
	
	font-size: 100%;
	line-height: 100%;
	background-color:@baseBlue;

}

ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}

#app{
	position: relative;
	padding: @appPadding;
}


@media screen and (min-width: @desktopWidth){
	body.bg{

		background-image:url(@backgroundPattern);
		background-repeat: no-repeat;

	}
	
	#app{
		padding: @appPaddingTablet;
	}
}





