@titlePaddingBottom : 20px;
@titleMarginBottom  : 20px;

.title{
	position: relative;
	width: 100%;
	padding-bottom: @titlePaddingBottom;
	border-bottom: 1px solid @secondaryBlue;
	margin-bottom: @titleMarginBottom;

	h1{
		position: relative;
		margin: 0;
		font-size: @sizeLarge;
		color:@secondaryBlue;
	}
}
